@{
    Layout = "~/Views/Shared/_LayoutFileHandler.cshtml";
    ViewBag.Title = "Compress Files";
}

<h2>Compress Files into a ZIP Archive</h2>

<hr />

<div class="row">
    <div class="col-md-2">ResourceId:</div>
    <div class="col-md-10">@Model.ActivationParameters.ResourceId</div>
</div>
<div class="row">
    <div class="col-md-2">Culture Name:</div>
    <div class="col-md-10">@Model.ActivationParameters.CultureName</div>
</div>
<div class="row">
    <div class="col-md-2">File Get:</div>
    <div class="col-md-10">@Model.ActivationParameters.FileGet</div>
</div>
<div class="row">
    <div class="col-md-2">File Put:</div>
    <div class="col-md-10">@Model.ActivationParameters.FilePut</div>
</div>
<div class="row">
    <div class="col-md-2">File Id:</div>
    <div class="col-md-10">@Model.ActivationParameters.FileId</div>
</div>
<div class="row">
    <div class="col-md-2">Client:</div>
    <div class="col-md-10">@Model.ActivationParameters.Client</div>
</div>
<div class="row">
    <div class="col-md-2">Error Message:</div>
    <div class="col-md-10">@Model.ErrorMessage</div>
</div>
<div class="row">
    <div class="col-md-2">Other properties:</div>
    <div class="col-md-10">@Model.ActivationParameters.OtherPropertyValues</div>
</div>
