@model MarkdownFileHandler.Models.MarkdownFileModel
@{
    ViewBag.Title = Model.Filename + " - Markdown Editor";
    Layout = "~/Views/Shared/_LayoutFileHandler.cshtml";
}
@section Head
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
}

@section ToolbarButtons
{
    <li><a href="#" onclick="saveChangesToHost()">Save</a></li>
    <li><a href="#" onclick="renameFile()">Rename</a></li>
    <li><a href="#" onclick="shareLinkToFile()">Get link</a></li>
    <li><a href="#" onclick="closeEditor()">Close</a></li>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h1>Error occured</h1>
    <p>An error occured: @Model.ErrorMessage</p>
}

@using (Html.BeginForm())
{
    if (null != Model.ActivationParameters)
    {
        @Html.Hidden("items", Model.ActivationParameters.Items);
        @Html.Hidden("client", Model.ActivationParameters.Client);
        @Html.Hidden("resourceId", Model.ActivationParameters.ResourceId);
        @Html.Hidden("userId", Model.ActivationParameters.UserId);
        @Html.Hidden("filename", Model.Filename);
        @Html.TextArea("content", Model.MarkdownFileContent);
    }
}
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("content"),
        forceSync: true
    });

    var hasUnsavedChanges = false;
    $("input#content").bind("input change", function () {
      hasUnsavedChanges = true;
    });

    function saveChangesToHost(actionName)
    {
        if (actionName == null)
            actionName = "Save";

        var data = $("form").serialize();
        $.post("/FileHandler/" + actionName, data, function(data, textStatus, xhr) {
            if (!data.Success) {
                window.alert("An error occured saving this file: " + data.Error);
            } else {
                hasUnsavedChanges = true;
                window.alert("Saved changes.");
            }
        });
    }

    function closeEditor() {
      // TODO: Prompt to save changes
      window.close();
    }

    function renameFile() {
      var newName = window.prompt("Rename", $("input#filename").val());
      if (newName != null && newName.length > 0) {
        $("input#filename").val(newName);
        saveChangesToHost("UpdateMetadata");
      }
    }

    function shareLinkToFile() {

      
    }
</script>




