@model MarkdownFileHandler.Models.MarkdownFileModel
@{
    ViewBag.Title = Model.Filename + " - Markdown Editor";
    Layout = "~/Views/Shared/_LayoutFileHandler.cshtml";
}

@section ToolbarButtons
{
<li><a href="#" onclick='$("form").submit(); return false'>Edit in Browser</a></li>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h1>Error occured</h1>
    <p>An error occured: @Model.ErrorMessage</p>
}

@Model.HtmlFileContent


@using (Html.BeginForm("Edit", "FileHandler"))
{
    @Html.Hidden("items", Model.ActivationParameters.Items);
    @Html.Hidden("resourceId", Model.ActivationParameters.ResourceId);
    @Html.Hidden("client", Model.ActivationParameters.Client);
 }